body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  gap: 20px;
}

.space-between {
  justify-content: space-between;
}

button {
  padding: 8px 14px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

.modal h3 {
  margin-top: 0;
}

.modal input,
.modal select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}
.loader {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f1f5f9;
}

tr:hover {
  background-color: #f9fafb;
}

input, select {
  padding: 6px;
  margin-right: 6px;
}
.add-btn{
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}